header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: lavenderblush;
    color: rgb(163, 153, 153);
    margin-bottom: 10px;

    div {
        h1 {
            font-size: 34px;
            font-weight: bolder;
        }
        p {
            font-size: 18px;
        }
    }
}
