form {
    margin-top: 40px;
    input {
        height: 50px;
        width: 360px;
    }
    .back-btn {
        padding: 10px 20px;
        color: #323338;
        font-size: 14px;
    }
}
